@model SmartBoard.Data.Models.SmartBoard.TblObraPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblObraPago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolicitudPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitudPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaArchivoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaArchivoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaArchivoEvidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaArchivoEvidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArchivoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArchivoFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArchivoEvidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArchivoEvidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTblobraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTblobraNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
