@model SmartBoard.Data.Models.SmartBoard.TblObra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblObra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numeroobra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numeroobra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombreobra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombreobra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuentefinanciamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuentefinanciamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenadax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenadax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coordenaday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coordenaday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inaguracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inaguracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoInforme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoInforme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentajeavance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentajeavance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechainicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechainicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechatermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechatermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posibleconflicto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posibleconflicto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Georeferenciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Georeferenciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroreferenciaCiceco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroreferenciaCiceco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagenobra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagenobra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacionesrevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacionesrevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecharegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecharegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficiarioNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficiarioNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficiarioDomicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficiarioDomicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numeroobraexterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numeroobraexterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InversionFederal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InversionFederal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InversionEstatal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InversionEstatal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InversionMunicipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InversionMunicipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InversionBeneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InversionBeneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadBeneficioHombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadBeneficioHombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadBeneficioMujer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadBeneficioMujer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadUnidadmedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadUnidadmedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expediente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvanceFinanciero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvanceFinanciero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoriaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IddependenciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IddependenciaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdejeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdejeNavigation.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdejecutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdejecutorNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdestadoobraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdestadoobraNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdestadorevisionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdestadorevisionNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdlocalidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdlocalidadNavigation.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmunicipioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmunicipioNavigation.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpoadetalleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpoadetalleNavigation.Actividades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdprogsogNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprogsogNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsubvertienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsubvertienteNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdunidadmedidaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdunidadmedidaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdvertienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdvertienteNavigation.Clave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
