@model SmartBoard.Models.ExpedienteViewModalDetalle
@{
    Layout = null;
    //bool agregaAdicional = true;
    //bool agregaDeductiva = true;
    //if (Model.conceptos != null)
    //{
    //    if (Model.conceptos.Where(a => a.Idtipoconcepto == 1).Count() > 0)
    //    {
    //        agregaAdicional = false;
    //    }
    //    if (Model.conceptos.Where(a => a.Idtipoconcepto == 2).Count() > 0)
    //    {
    //        agregaDeductiva = false;
    //    }
    //}
}
<div class="row">

    <div class="form-group">
      
            <a class="btn btn-danger" href="ObraConcepto/Create?IdTblobra=@Model.Id&tipo=1" title="Conceptos" data-filter-tags="ObraConcepto">
                <label>
                    Agregar Adicionales
                </label>
            </a>
      
            <a class="btn btn-danger" href="ObraConcepto/Create?IdTblobra=@Model.Id&tipo=2" title="Conceptos" data-filter-tags="ObraConcepto">
                <label>
                    Agregar Deductivas
                </label>
            </a>

        <a class="btn btn-danger" href="ObraConcepto/Create?IdTblobra=@Model.Id&tipo=3" title="Conceptos" data-filter-tags="ObraConcepto">
            <label>
                Agregar Convenio Modificatorio
            </label>
        </a>

    </div>
</div>

<div class="col-sm-12">


    <table id="dt-obras-documentos3" class="table table-bordered table-hover table-striped w-100">
        <thead class="bg-warning-200">
            <tr>
                <th>Tipo</th>
                <th>Clave</th>
                <th>Concepto</th>
                <th>Unidad</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Importe</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.conceptos.Where(a => a.Idtipoconcepto != 4))
            {
                <tr>

                    <td>
                        @(item.Idtipoconcepto == 1 ? "Adicional" : (item.Idtipoconcepto == 2 ? "Deductiva" : "Convenio Modificatorio"))
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Clave)</td>
                    <td>@Html.DisplayFor(modelItem => item.Concepto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Unidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>



                </tr>
            }


        </tbody>
    </table>


</div>
