@model SmartBoard.Models.ExpedienteViewModalDetalle
@{
    Layout = null;
}

@if(Model.recursos.Count() <= 0)
{
    <h1 class=danger>
        El recurso no ha sido capturado
    </h1>
}
else
{


<div class="row">
    <div class="form-group">
        <a class="btn btn-danger" href="ObraEstimacion/Create?IdTblobra=@Model.Id" title="Obras" data-filter-tags="ObraEstimaciones">
            <label>
                Agregar Estimaciones
            </label>
        </a>
    </div>
</div>

<div class="col-sm-12">


    <table id="dt-obras-documentos3" class="table table-bordered table-hover table-striped w-100">
        <thead class="bg-warning-200">
            <tr>

                <th>Num. Factura</th>
                <th>Fecha F.</th>
                <th>Fecha Estimación</th>
                <th>Monto a Pagar S/IVA</th>
                <th>Amortización S/IVA</th>
                <th>SubTotal</th>
                <th>SubTotal C/IVA</th>
                <th>5 al millar S/IVA</th>

                <th>Retención</th>
                <th>Devolución</th>
                <th>Monto neto a pagar</th>
                <th>Avance Fisico Real</th>
                <th>Avance Financiero</th>
                <th>Fecha de Pago</th>
                <th>Pagado</th>
                <th>Xml</th>
                <th>Evidencias</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.estimaciones)
            {
                <tr>


                    <td>
                        @Html.DisplayFor(modelItem => item.NumFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEstimacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoPagarSinIva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmortizadoSinIva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubtotalConIva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CincoMillarSinIva)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Retencion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Devolucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoNetoPagar)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.AvanceFisicoReal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvanceFinancieron)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pagado)
                    </td>
                   <td>
                        @if (item.Activo)
                        {
                            @*<form name="form_@item.Id" method="post" enctype="multipart/form-data" action="TblObras/UploadFiles">*@
                            
                               @* <input type="hidden" id="IdDocObra_@item.Id" name="IdDocObra" value="@item.IdTblobra" />
                                <input type="hidden" id="IdDoc_@item.Id" name="IdDoc" value="@item.Id" />
*@
                                <div class="fileUpload btn btn-outline-default">
                                    <input type="file" id="files_@item.Id" name="files_@item.Id" class="upload" onchange="SubirArchivoEFactura(@item.Id,@item.IdTblobra,@item.IdTblobra)" />
                                    <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-upload" style="color:white;"></i></span> <span></span>
                                </div>
                            
                        }
                        <div class="divEVFactura" myid="@item.Id" id="divEVFactura_@item.Id">
                          
                         </div>
                   </td>
                   <td>
                        @if (item.Activo)
                        {
                         @*   <form name="form_@item.Id" method="post" enctype="multipart/form-data" action="TblObras/UploadFiles">
                                <input type="hidden" id="IdDocObra_@item.Id" name="IdDocObra" value="@item.IdTblobra" />
                                <input type="hidden" id="IdDoc_@item.Id" name="IdDoc" value="@item.Id" />
*@
                                <div class="fileUpload btn btn-outline-default">
                                    <input type="file" id="files_@item.Id" name="files_@item.Id" class="upload" onchange="SubirArchivoEvidencia(@item.Id,@item.IdTblobra,@item.IdTblobra)" />
                                    <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-upload" style="color:white;"></i></span> <span></span>
                                </div>
                            @*</form>*@
                        }
                        <div class="divEVEvidencia" myid="@item.Id" id="divEVEvidencia_@item.Id">
                        </div>
                   </td>

                </tr>
            }
            <tr style="font-weight:bold">
                <td colspan="3" style="text-align:right"> SubTotal</td>
                <td>@Model.estimaciones.Sum(a => a.MontoPagarSinIva).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.AmortizadoSinIva).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.Subtotal).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.SubtotalConIva).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.CincoMillarSinIva).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.Retencion).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.Devolucion).ToString("c2")</td>
                <td>@Model.estimaciones.Sum(a => a.MontoNetoPagar).ToString("c2")</td>
                <td colspan="4"></td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="3" style="text-align:right"> Iva</td>
                <td>@((Model.estimaciones.Sum(a => a.MontoPagarSinIva) * 0.16m).ToString("c2"))</td>
                <td colspan="12"></td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="3" style="text-align:right"> Total</td>
                <td>@((Model.estimaciones.Sum(a => a.MontoPagarSinIva) * 1.16m).ToString("c2"))</td>
                <td colspan="12"></td>
            </tr>
        </tbody>
    </table>


</div>
}