@model SmartBoard.Models.ExpedienteViewModalDetalle

@{
    Layout = null;
    int tabcount = 0;
    int contador = 0;
    int contadorItem = 0;
    int tabcount2 = 0;
    string showBotton = "mostrardescarga";
    string showCarga = "documentoDeshabilitado";



}

<div class="col-sm-12">
    <div class="panel-container show">
        <div class="row">
            <div class="col-auto">
                <div class="nav nav-pills" id="v-pills-tab_@Model.Id" role="tablist">
                    @foreach (var item in Model.documentoproceso.Select(a => new { categoriaLong = a.Titulo, categoria = a.TituloShort }).Distinct().ToList())
                    {
                        string classshowtab = " active";
                        string classshowtab_aria = "true";
                        if (tabcount == 0)
                        {
                            classshowtab = " active";
                            classshowtab_aria = "true";
                        }
                        else
                        {
                            classshowtab = " ";
                            classshowtab_aria = "false";
                        }

                        <a class="nav-link @classshowtab" id="v-pills-home-tab_@item.categoria" data-toggle="pill" href="#v-pills-home_@item.categoria" role="tab" aria-controls="v-pills-home_@item.categoria" aria-selected="@classshowtab_aria">
                            <i class="@(Settings.Theme.IconPrefix) fa-home"></i>
                            <span class="hidden-sm-down ml-1"> @item.categoriaLong</span>
                        </a>


                        tabcount++;
                    }
                </div>
            </div>
            <div class="col">
                <div class="tab-content" id="v-pills-tabContent">
                    @foreach (var item in Model.documentoproceso.Select(a => new { categoria = a.TituloShort }).Distinct().ToList())
                    {
                        contador = 0;
                        string classshow = " show active";
                        if (tabcount2 == 0)
                        {
                            classshow = " show active";
                        }
                        else
                        {
                            classshow = " ";
                        }
                        <div class="tab-pane fade @classshow" id="v-pills-home_@item.categoria" role="tabpanel" aria-labelledby="v-pills-home-tab_@item.categoria">


                            <table id="dt-obras-documentos_@item.categoria" class="table table-bordered table-hover table-striped w-100">
                                <thead class="bg-warning-200">
                                    <tr>
                                        <th>#</th>
                                        <th>Documento</th>
                                        <th>Acciones</th>
                                        <th style="text-align:right;">Observaciones</th> @*VALIDADO*@
                                        <th>Estado de Documentación</th> @*ESTADO DE DOCUMENTACION*@
                                        <th>Validado</th> @*OBSERVACIONES*@

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doc in Model.documentoproceso.Where(b => b.TituloShort == item.categoria && b.Estitulo == false).ToList())
                                    {
                                        if (!string.IsNullOrWhiteSpace(doc.nombrearchivo))
                                        {
                                            showBotton = "mostrardescarga";
                                        }
                                        else
                                        {
                                            showBotton = "ocultardescarga";
                                        }
                                        if (doc.activo)
                                        {
                                            showCarga = "documentoHabilitado";
                                        }
                                        else
                                        {
                                            showCarga = "documentoDeshabilitado";
                                        }

                                        <tr>
                                            <td>
                                                <div class="divcontenedor">
                                                    @*<input type="hidden" asp-for="@doc.idObra" />*@
                                                    @*<input type="hidden" asp-for="@doc.id" />*@
                                                    @*<input type="hidden" asp-for="@doc.Numero" />*@
                                            @*        <input type="hidden" asp-for="@doc.Secuencia" />
                                                    <input type="hidden" asp-for="@doc.Estitulo" />*@
                                                    @doc.Secuencia
                                                </div>
                                            </td>

                                            <td style="background-color: @doc.HexColor">
                                                <div class="divcontenedor">
                                                    @*<input type="hidden" asp-for="@doc.documento" />*@
                                                    @doc.documento
                                                </div>
                                            </td>
                                            <td>
                                                <div style="display: inline-flex;">

                                                    @if (doc.activo)
                                                    {


                                                        @*<form name="form_@doc.id" method="post" enctype="multipart/form-data" action="TblObras/UploadFiles">*@
                                                        
                                                           @* <input type="hidden" id="IdDocObra_@doc.id" name="IdDocObra" value="@doc.idObra" />
                                                            <input type="hidden" id="IdDoc_@doc.id" name="IdDoc" value="@doc.id" />
*@
                                                            <div class="fileUpload btn btn-outline-default">
                                                                @*<input type="file" id="files_@doc.id" name="files_@doc.id" class="upload" onchange="SubirArchivo(@doc.id,@Model.Id,@Model.Id)" />*@
                                                                <input type="file" id="files_@doc.id" name="files_@doc.id" class="upload" onchange="SubirArchivo(@doc.id,@Model.Id,@Model.Id)" />
                                                                <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-upload" style="color:white;"></i></span> <span></span>
                                                            </div>
                                                        
                                                    }

                                                    <div class="divdocumento" myid="@doc.id" id="divdocumento_@doc.id">
                                                    </div>
                                                    @*
                                            <a asp-controller="TblObras"
                                            asp-action="DownloadFile"
                                            asp-route-IdDocObra="@Model.Id"
                                            asp-route-IdDoc="@doc.id"
                                            asp-route-idObra="@Model.Id"
                                            asp-route-fileName="@doc.nombrearchivo" class="btn btn-outline-default @showBotton" target="_blank" id="descarga_id_@doc.id">
                                            <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-download" style="color:white;"></i></span> <span>  </span>

                                            </a>

                                            <div class="fileUpload btn btn-outline-default  @showBotton" id="borrar_id_@doc.id" onclick="BorrarArchivo(@doc.id)">
                                            <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-trash-alt" style="color:white;"></i></span> <span></span>
                                            </div>



                                            <a asp-controller="TblObras"
                                            asp-action="MostrarFile"
                                            asp-route-IdDocObra="@Model.Id"
                                            asp-route-IdDoc="@doc.id"
                                            asp-route-idObra="@Model.Id"
                                            asp-route-fileName="@doc.nombrearchivo" class="btn btn-outline-default @showBotton" target="_blank" id="mostrar_id_@doc.id">
                                            <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-file-search" style="color:white;"></i></span> <span></span>

                                            </a>
                                            *@
                                                </div>
                                            </td>
                                            <td>
                                                @*OBSERVACIONES*@
                                                <div>

                                                    @*<input type="hidden" asp-for="@doc.Observaciones" />*@
                                                    @doc.Observaciones

                                                    <div class="fileUpload btn btn-outline-default  @showBotton" id="cambio_id_@doc.id" onclick="CambioObservacion(@doc.id)">
                                                        <span class="fa-2x d-inline l-h-n color-fusion-400"> <i class="fal fa-ban" style="color: white;"></i></span> <span></span>
                                                    </div>


                                                </div>

                                            </td>
                                            <td> @*ESTADO*@

                                                <div class="fileUpload btn btn-outline-default  @showBotton" id="aprobado_id_@doc.id">
                                                    <input asp-for="@doc.aprobado" name="chkaproba_id_@doc.id" id="chkaproba_id_@doc.id" onclick="CambioAprobacion(@doc.id)" type="checkbox">

                                                </div>

                                            </td>
                                            <td> @*VALIDADO*@

                                                @*<input type="hidden" asp-for="@doc.estatus" />*@
                                                <span id="bandera_id_@doc.id" class="dot dot_@doc.estatus"> </span>
                                                <span id="band_titulo_id_@doc.id">

                                               
                                                @if(doc.estatus.Contains("red"))
                                                {
                                                    <text> Falta subir archivo </text>
                                                }
                                                else if (doc.estatus.Contains("yellow"))
                                                {
                                                    <text> En revisión </text>
                                                }
                                                else if (doc.estatus.Contains("green"))
                                                {
                                                    <text> Aceptado </text>
                                                }
                                                else
                                                {
                                                    <text> Capturado </text> 
                                                }
                                                </span>
                                            </td>
                                           
                                        </tr>



                                        contadorItem++;
                                        contador++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        tabcount2++;
                    }

                </div>
            </div>
        </div>
    </div>
</div>

