@*@model IEnumerable<SmartBoard.Data.Models.SmartBoard.TblObra>*@
@model IEnumerable<SmartBoard.Models.ExpedienteViewModalDetalle>

@{
    int idtipo = ((int)ViewData["MyIdtipoObra"]);
    string titulo = (idtipo == 1 ? "Expedientes" : "Adquisiciones");
    ViewData["Title"] = titulo;
    ViewData["PageName"] = "dashboard_" + titulo;
    int c = 0;
}

@if (idtipo != 1)
{
    <link id="mytheme" rel="stylesheet" media="screen, print" href="~/css/themes/cust-theme-13.css">
}

<h1>
    Listado <span class="fw-300"><i>@titulo</i></span>
</h1>

<div>
    <a asp-action="RecordsDashboard" asp-controller="Intel" asp-route-IdtipoObra="@idtipo">Regresar @titulo</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombreobra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                Municipio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                ZAP
            </th>
            <th>
                Grado Marginal
            </th>
            <th>
                Modalidad Ejecución
            </th>
            <th>
                Tipo Adjudicación
            </th>
            <th>
                Contratación
            </th>
            <th>
                Tipo Contrato
            </th>
          
            <th>Monto Aprobado</th>
            <th>Origen de los recursos</th>
            <th>Ejercicio fiscal</th>
            <th>Monto Contratado</th>
            <th>Monto Modificado</th>
            <th>Monto Total</th>
            <th>Periodo Contractual</th>
            <th>Periodo Modificado</th>
            <th>Periodo Periodo Total</th>
            <th>Plazo de ejecución Contratado (dias)</th>
            <th>Plazo de ejecución Modificado (dias)</th>
            <th>Plazo Total</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            c = 0;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Expediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombreobra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMunicipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreZap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGradoMarginal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreModalidadEjecucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTipoAdjudicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreContratacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreTipoContrato)
                </td>
                <td></td>
                <td>
                    
                    @foreach (var rec in item.recursos)
                    {
                        if (c == 1) break;
                        @rec.Recurso
                        c++;
                    }
                    
                </td>

                <td>
                    @{
                        c = 0;
                    }
                    @foreach (var rec in item.recursos)
                    {
                        if (c == 1) break;
                        @rec.Ejercicio
                        c++;
                    }

                </td>
                <td>
                    @item.recursos.Sum(a=>a.ImporteContratado)
                </td>
                <td>
                    @item.recursos.Sum(a=>a.ImporteModificado)
                </td>
                <td>
                    @item.recursos.Sum(a=>a.ImporteContratado + a.ImporteModificado)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        }
    </tbody>
</table>
