@model IEnumerable<SmartBoard.Data.Models.SmartBoard.TblPoadetalle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fechainicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechatermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecharegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaactividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProgramaoperativoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddependenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fechainicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechatermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecharegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaactividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProgramaoperativoNavigation.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddependenciaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
