@model SmartBoard.Data.Models.SmartBoard.TblObraRecurso

@{
    ViewData["PageName"] = "registro_obra";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblObraRecurso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autorizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autorizados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteContratado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteContratado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteModificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteEjercido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteEjercido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportePorEjercer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportePorEjercer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEjercicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEjercicioNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProgramaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProgramaNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecursoNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubprogramaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubprogramaNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTblobraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTblobraNavigation.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
