@model SmartBoard.Data.Models.SmartBoard.TblObraRecurso

@{
    ViewData["PageName"] = "registro_obra";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblObraRecurso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autorizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autorizados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteContratado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteContratado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteModificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteEjercido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteEjercido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportePorEjercer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportePorEjercer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEjercicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEjercicioNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProgramaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProgramaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRecursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRecursoNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubprogramaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubprogramaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTblobraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTblobraNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
